*.Cache
*.testlog
# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
Challenges/01_AI_Speech/appsettings.json
28_ComputerVision/appsettings.json
32_ImageClassification/appsettings.json
34_ImageDetection/appsettings.json
/44_ExtractText/appsettings.json
/45_FormRecognizer/appsettings.json
/45_FormRecognizerTestModel/appsettings.json
/47_CognitiveSearch/appsettings.json
