@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mo's ASP.NET</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Mo''s Asp.NET</h2>
        <p>
            This is a sample application to demonstrate the use of Entitiy Framework 6 
            in an ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it yourself!</h2>
        <p>You can build the application by downloading the source code from .</p>
        <p><a class="btn btn-default" href="https://github.com/mkmibrahim/Challenges">Challenges Github Repository</a> </p>
    </div>
</div>